{%
  set classes = [
    'node-t-' ~ node.bundle|clean_class,
    view_mode ? 'node-v-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h3{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</article>
